<div class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container">
    <div class="navbar-header">
      <a class="button navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to(Setting.app_name, Setting.domain , :class => "navbar-brand" )%>
    </div>
    <div class="navbar-collapse">
      <%= render :partial => "common/user_nav"%>
      <%= render_list :class => "nav navbar-nav pull-right" do |li|
        if not current_user.blank?
          li << link_to("All Spreadsheets", user_spreadsheets_path(current_user))
          li << link_to("Link-2","#")
          li << link_to("Link-3","#")
        end
      end %>  
    </div>
  </div>
  <%= yield :submenu %>
</div>
